langchain-google-genai
python-dotenv
Flask
flask-cors
mysql-connector-python
google-generativeai
SpeechRecognition
gTTS
sounddevice
scipy
playsound
pygame

# Memory & Semantic Search
faiss-cpu
sentence-transformers
numpy
tf-keras